.create-group {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
}

.inside-group {
    width: 30%;
    background: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.top-group {
    position: absolute;
    right: 20px;
}

.top-group i {
    font-size: 20px;
    cursor: pointer;
}

.group-body {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.group-body input {
    width: calc(100% - 50px);
    outline: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    padding: 5px;
}

.group-body .input-group input {
    border: 1px solid #ced4da;
}

.group-heading h3 {
    font-size: 20px;
}

.group-body label {
    cursor: pointer;
    background: #ececec;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.group-body .icon {
    font-size: 20px;
    color: #495057;
}

#f {
    display: none;
}

.added-users {
    margin-top: 10px;
}

.added-users ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.added-users ul li {
    list-style: none;
    font-size: 12px;
    background: #e7e7e7;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.added-users ul li i {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    cursor: pointer;
}

.create-btn {
    text-align: right;
}

.yes-no button {
    width: 49%;
    background: red;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
}

.yes-no button.yes {
    margin-right: 1%;
    background: green;
}


/* edit profile css */
.avatar-upload {
    position: relative;
    max-width: 100px;
    margin: 20px auto 50px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: -20px;
    z-index: 1;
    top: 0px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-edit {
    margin-bottom: 30px;
}

.user-edit input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}